In [1]:
import pandas as pd
import numpy as np
from sqlite3 import connect
import os

Connect to database

In [2]:
conn = connect("..\\data\\housing.db")
cur = conn.cursor()

Initialize database tables

In [ ]:
%%sql
CREATE TABLE salary(
    year INT,
    state TEXT,
    median_salary REAL
)

Typical home value (Determined by Zillow): value for homes in the 35th to 65th percentile range

In [ ]:
%%sql
CREATE TABLE house_sale(
    year INT,
    state TEXT,
    typical_home_value REAL
)

In [ ]:
%%sql
CREATE TABLE  us_salary(
    year INT,
    median_salary REAL
)

In [ ]:
%%sql
CREATE TABLE us_house_sale(
    year int,
    median_sale REAL
)

30-Year Fixed Rate Mortgage Average in the United States

In [ ]:
%%sql
CREATE TABLE us_mortgage_rate(
    year INT,
    avg_rate REAL
)

Populate median salary tables in housing.db

**Data source**: [Federal Reserve Bank of St. Louis. (n.d.)](https://fred.stlouisfed.org/release/tables?eid=259515&rid=249)

In [3]:
# Gets path to files
folder_path = "..\\data\\MedianIncome"
csv_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path)]

# Convert csv files to a dataframe
for file in csv_files:
    state = os.path.basename(file)[:-4]
    df = pd.read_csv(file)
    df.columns = ["date", "median_salary"]
    df["year"] = pd.to_datetime(df["date"]).dt.year
    
    # Load state information to database
    for index, row in df.iterrows():
        if state == "United States":
            cur.execute("INSERT INTO us_salary (year, median_salary) VALUES (?, ?)", (row["year"], row["median_salary"]))
        else:
            cur.execute("INSERT INTO salary (year, state, median_salary) VALUES (?, ?, ?)", (row["year"], state, row["median_salary"]))
    conn.commit()

In [4]:
%%sql
SELECT * FROM salary ORDER BY state

      year    state  median_salary
0     1984  Alabama          45510
1     1985  Alabama          46610
2     1986  Alabama          47860
3     1987  Alabama          47750
4     1988  Alabama          46550
...    ...      ...            ...
2035  2019  Wyoming          76990
2036  2020  Wyoming          76570
2037  2021  Wyoming          79570
2038  2022  Wyoming          76000
2039  2023  Wyoming          77200

[2040 rows x 3 columns]

In [5]:
%%sql
SELECT * FROM us_salary ORDER BY year

    year  median_salary
0   1984          58930
1   1985          60050
2   1986          62280
3   1987          63060
4   1988          63530
5   1989          64610
6   1990          63830
7   1991          61960
8   1992          61450
9   1993          61150
10  1994          61800
11  1995          63770
12  1996          64710
13  1997          66050
14  1998          68470
15  1999          70210
16  2000          70020
17  2001          68870
18  2002          68310
19  2003          68350
20  2004          68250
21  2005          69310
22  2006          70080
23  2007          71210
24  2008          68780
25  2009          68340
26  2010          66730
27  2011          65750
28  2012          65740
29  2013          68220
30  2014          67360
31  2015          71000
32  2016          73520
33  2017          74810
34  2018          75790
35  2019          81210
36  2020          79560
37  2021          79260
38  2022          77540
39  2023          80610

Populate house sales tables in housing.db

**Data sources**: 
* [Federal Reserve Bank of St. Louis. (n.d.)](https://fred.stlouisfed.org/series/MSPUS)
* [Zillow Housing Data](https://www.zillow.com/research/data/)

In [6]:
# Get US median sales data
df = pd.read_csv("..\\data\\MedianHouseSold\\United States.csv")
df.columns = ["date", "median_sale"]
df["year"] = pd.to_datetime(df["date"]).dt.year
df.head()

         date  median_sale  year
0  1963-01-01        17800  1963
1  1963-04-01        18000  1963
2  1963-07-01        17900  1963
3  1963-10-01        18500  1963
4  1964-01-01        18500  1964

In [7]:
# Populate US median sales
avg_df = df.groupby("year")["median_sale"].mean().reset_index()
for index, row in avg_df.iterrows():
    cur.execute("INSERT INTO us_house_sale (year, median_sale) VALUES (?, ?)", (row["year"], row["median_sale"]))
conn.commit()

In [8]:
%%sql
SELECT * FROM us_house_sale

    year    median_sale
0   1963   18050.000000
1   1964   18925.000000
2   1965   20125.000000
3   1966   21500.000000
4   1967   22750.000000
..   ...            ...
57  2020  328150.000000
58  2021  383000.000000
59  2022  432950.000000
60  2023  426525.000000
61  2024  420566.666667

[62 rows x 2 columns]

**Data Source**: [Zillow Research](https://www.zillow.com/research/data/)

In [9]:
# Get median sales by state data
df = pd.read_csv("..\\data\\MedianHouseSold\\MedianStates.csv")

df.drop("StateName", axis=1, inplace=True)
df

,RegionID,SizeRank,RegionName,RegionType,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30
0,9,0,California,state,188110.256109,188742.550827,189596.303528,191449.546076,193603.661365,195927.945504,...,756581.465067,758066.607493,761934.960064,766432.343460,768909.375491,770909.700185,772682.310069,774983.546890,776577.716233,778354.932718
1,54,1,Texas,state,110727.473905,110787.646075,110816.830520,110961.675508,111055.479394,111160.656385,...,299498.200167,300367.479595,301220.479617,301550.419480,301319.803394,300761.659685,300348.385031,300090.532553,299833.867370,299466.823298
2,14,2,Florida,state,106324.231241,106554.539424,106833.718848,107401.218812,108013.206369,108637.630851,...,393557.439999,394416.095660,395091.990286,395215.732860,394434.657532,393384.745904,392375.047571,391524.226250,390581.313239,389387.085235
3,43,3,New York,state,151685.625556,152225.775385,152745.756703,153864.095163,155021.175699,156272.299745,...,456505.704164,459493.312355,463145.212383,466501.849754,469200.870364,471724.290510,474811.923330,477666.313210,480077.616977,481903.562884
4,47,4,Pennsylvania,state,96826.092693,97033.196372,97227.818199,97624.427909,98031.845388,98450.560335,...,256878.955033,258186.664552,259836.099840,261304.989294,262179.387799,262512.871697,262759.825236,263141.794227,263875.785085,264751.674429
5,21,5,Illinois,state,125880.837963,125981.719743,126199.780237,126712.764673,127321.436742,128005.506495,...,254350.347516,256221.318460,258636.605706,260398.263089,261509.207676,262145.854667,262952.201015,263720.908428,264583.245848,265510.101009
6,44,6,Ohio,state,103775.989678,103839.406222,103935.580772,104218.386676,104649.595355,105184.635540,...,218130.220436,219686.230984,221682.092955,223485.610938,224703.538017,225514.071385,226092.668360,226496.094487,226977.257664,227606.641522
7,16,7,Georgia,state,122229.145262,122506.706514,122826.965845,123501.252313,124244.963429,125033.046887,...,321784.647770,323077.500410,324688.400597,326004.468075,326598.654344,326819.452318,327004.643730,327062.859776,326857.936894,326280.449977
8,36,8,North Carolina,state,126136.015432,126327.915075,126525.567853,126954.311641,127431.956046,127940.052598,...,320590.137341,321917.991716,323674.176204,325307.948524,325973.279671,326119.092998,325920.341852,325808.582656,325825.649389,325799.916366
9,30,9,Michigan,state,113471.037668,113533.534806,113762.341134,114218.122439,114890.266844,115628.483460,...,232368.687265,234186.967332,236420.761088,238023.791399,238964.598953,239259.739715,239548.203921,239795.077855,240379.301971,241007.127504
10,40,10,New Jersey,state,168361.871697,168815.716224,169248.763858,170208.194719,171186.259046,172353.568920,...,507451.518349,512383.660255,517993.140998,522318.787841,525289.739354,527880.104605,530988.639738,534376.928782,537381.923048,539756.983418
11,56,11,Virginia,state,122237.228545,122553.533525,122888.891054,123522.605249,124134.386890,124725.170271,...,377099.279122,379159.455369,381951.270843,384461.357614,385967.169254,386873.775694,387791.794062,388907.724217,390313.843067,391540.544177
12,59,12,Washington,state,172628.816644,173018.204978,173415.415746,174217.088622,175092.064161,175927.343480,...,571565.714612,574176.423462,577645.992075,580774.663781,582103.987055,582647.696315,583153.085452,584755.117865,586924.806382,589272.326122
13,8,13,Arizona,state,133992.882936,134235.583439,134547.943444,135185.764572,135908.743842,136557.545759,...,425989.073725,427272.413901,428843.199208,430088.976681,430346.093621,429977.839996,429178.790779,428480.016194,427911.969631,427379.278595
14,26,14,Massachusetts,state,192586.618199,193229.600853,193994.648748,195501.470505,197132.530849,198899.754539,...,599659.181075,603234.120979,608189.171808,612631.313107,615333.605505,617234.276255,619325.847227,621607.245594,623523.275803,625065.344097
15,53,15,Tennessee,state,108061.209326,108151.354927,108243.293562,108464.490652,108719.648918,108972.882161,...,309624.284885,310925.957832,312855.715451,314743.396495,315713.316493,316088.434803,315866.203047,315544.972144,315395.191462,315299.638102
16,22,16,Indiana,state,96396.764449,96264.221122,96115.353692,95662.812793,95444.154840,95508.741782,...,230432.848740,232166.575514,233975.812383,235466.824396,236310.352668,236721.534448,237093.106685,237538.776807,238162.399717,238933.696154
17,27,17,Maryland,state,150741.331086,150720.423638,150827.228592,151084.952105,151624.273610,152276.344553,...,407724.019215,410037.082353,413002.294955,415251.335652,415905.262288,415658.181599,415456.543305,416156.196364,417546.309400,419041.727609
18,32,18,Missouri,state,94742.705870,94853.751621,95020.005136,95400.023355,95890.896755,96433.342913,...,237660.323906,238780.714929,240134.843388,241084.946838,241685.321053,242152.831252,242753.707018,243339.118459,243918.904301,244676.165007
19,60,19,Wisconsin,state,118261.250045,118226.927077,118359.229446,118549.228296,118928.291017,119373.187841,...,290081.682603,292437.154621,295607.684868,297873.033672,299418.332482,300284.463910,301207.666406,301876.847193,302801.374594,303957.332461
20,10,20,Colorado,state,174346.883406,174965.940595,175650.062832,177179.735561,178887.115528,180730.813911,...,536920.957680,537645.525871,538956.110712,539736.654622,539547.189158,539249.407216,539395.421342,540315.616301,541187.836794,542085.498985
21,31,21,Minnesota,state,123401.785943,123817.160891,124203.619322,125110.783061,126105.960307,127256.573743,...,324253.501052,325407.778491,326835.449542,327622.359153,327452.174289,327105.425025,327281.714936,327909.023290,329073.636361,330239.965675
22,51,22,South Carolina,state,111521.599203,111767.793972,111968.405349,112428.277486,112857.639810,113330.590027,...,289367.146042,290497.048360,291950.210856,293137.288890,293734.568478,293999.383491,294108.989777,294062.951445,293947.249267,293664.294241
23,4,23,Alabama,state,97708.889958,97879.036303,97993.037665,98248.434849,98533.288909,98877.688882,...,221145.152002,221872.855085,223207.674202,224464.966647,224994.767760,225068.316810,224930.202431,224809.150354,224947.801440,225129.678811
24,25,24,Louisiana,state,103825.947516,104026.218390,104181.845691,104532.698697,104904.423891,105309.352678,...,199191.232982,199490.511876,200404.831081,200955.555886,200866.540780,200338.546226,199500.677395,198607.818562,197991.035598,198053.456705
25,24,25,Kentucky,state,83486.525374,83529.629057,83608.054445,83802.948707,84061.968590,84346.707870,...,198332.591377,199167.071187,200904.044755,202469.866413,203601.705521,204072.013651,204393.722040,204327.322042,204601.212692,205305.804874
26,46,26,Oregon,state,149853.531397,150183.075235,150484.136644,151115.894082,151679.287316,152202.230760,...,486357.532609,487288.437736,488371.416258,489282.009796,489371.400009,489452.025056,489609.602116,490383.550027,491432.831712,492822.052898
27,45,27,Oklahoma,state,80163.131220,80196.198715,80350.336903,80631.014464,81008.008077,81365.406104,...,198873.787658,199559.738800,200568.992077,201370.807650,201854.954121,202074.460245,202455.839486,202727.305304,203148.489831,203633.104863
28,11,28,Connecticut,state,160450.698971,161061.974415,161700.247581,162781.608023,163670.199629,164550.328567,...,387546.659307,390834.048033,394488.624882,397570.053010,399457.993917,400957.826690,402471.958723,404214.179669,405706.292214,406714.947859
29,55,30,Utah,state,168074.438893,168166.524060,168311.097562,168673.834980,169988.413169,171437.658351,...,510832.909836,512153.729449,513701.987980,514564.763028,514225.443500,513333.747726,512763.649227,513426.342661,515230.986810,517823.256996
30,19,31,Iowa,state,88781.753243,88951.411006,89111.575045,89457.524987,89839.746255,90225.540252,...,208535.224017,209711.415731,211353.476300,212885.822121,213747.415027,214006.798800,214113.545930,214202.751914,214612.461751,215335.525127
31,42,32,Nevada,state,152095.159280,152114.171644,152349.573800,152889.039555,153576.463128,154193.599830,...,424177.640987,426145.387385,428715.739589,431237.849183,433316.606289,435045.102499,436560.754212,438015.440174,439353.889083,440723.851132
32,6,33,Arkansas,state,86515.042248,86630.665478,86761.849770,87041.949432,87318.214623,87583.451244,...,202484.652287,203496.328672,205027.911179,206330.713055,207165.772782,207595.671779,207983.463772,208064.215004,208166.096981,208238.180941
33,34,34,Mississippi,state,85001.595797,84954.978247,84952.950198,85014.231855,85312.439588,85739.092133,...,174104.770706,175110.732273,176489.046447,177542.257282,177790.953915,177406.622124,176861.177385,176405.438036,176645.668257,177461.492070
34,23,35,Kansas,state,86670.796612,86687.810253,86788.045028,86937.889041,87163.765475,87418.548569,...,215756.925820,217217.146582,219071.788552,220758.419592,222054.248415,223154.229211,224302.628325,225273.917284,226243.437579,227188.132500
35,41,36,New Mexico,state,NaN,NaN,NaN,NaN,NaN,NaN,...,293553.553890,295085.512204,296872.233557,298328.607043,298780.581032,298911.830150,299217.685168,299963.206584,300845.601411,301651.281634
36,38,37,Nebraska,state,113305.558834,113486.682453,113654.550736,113915.133249,114047.277113,114125.476214,...,251378.948316,252760.950982,254152.956553,255192.455615,255580.224196,255770.934610,256001.016312,256484.471003,257200.855468,258011.203000
37,20,38,Idaho,state,120714.415238,120641.236305,120687.601651,120783.866498,121097.768815,121481.410459,...,441856.139769,443556.015572,445585.908785,446873.093721,447191.979792,447409.188365,448049.134732,449080.847737,450089.689302,451002.991990
38,61,39,West Virginia,state,72305.408953,72302.313893,72325.685229,72384.839466,72500.246408,72691.963665,...,157606.318071,158858.014056,160504.346449,162063.708963,163175.869702,164109.739213,164680.501090,164987.920682,165368.121489,165830.013997
39,18,40,Hawaii,state,192734.104084,192644.933456,192940.741430,193453.870900,194459.048107,195594.239605,...,827511.277706,830153.223320,835271.289208,839997.482313,840966.034384,840089.023371,839856.901773,841409.259548,842684.646948,842181.441392
40,39,41,New Hampshire,state,131034.702742,131479.848154,132011.244498,132808.944073,133682.071990,134604.446553,...,454256.912492,457544.004135,461921.843255,465624.795654,467919.896177,469330.247001,471262.210160,473566.526853,476073.060753,477812.589241
41,28,42,Maine,state,104793.850333,105142.501395,105453.802271,106139.616024,106785.656136,107510.930435,...,384383.184408,386457.863809,389269.362236,391465.631666,392242.632254,392414.518193,392911.519785,393884.425184,395025.697955,395519.684807
42,50,43,Rhode Island,state,129534.352773,130123.463926,130742.127542,131964.505895,133182.550875,134110.608815,...,441522.753030,444169.175152,448072.779108,452225.296449,455278.099127,458019.523326,460772.210859,463572.005494,466022.072369,467966.912053
43,35,44,Montana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,440292.597631,442930.379873,445301.382378,446150.558331,446128.410760,445990.962084,446951.377450,448678.957679,450714.830573,452049.727687
44,13,45,Delaware,state,145668.725205,145895.352310,146177.523456,146822.842472,147558.857533,148370.870791,...,377081.239842,377751.606263,379346.855205,380756.433622,381022.748850,380615.495815,380716.039673,381345.642744,382659.669353,384079.297084
45,52,46,South Dakota,state,106591.506716,106365.034979,106048.104539,105620.916298,105443.193507,105321.416163,...,294382.040963,296405.519965,298360.041004,299512.792037,299799.733988,299744.608480,299981.323995,300751.524631,301863.195490,302776.255308
46,37,47,North Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,254104.620630,255514.227508,257364.440276,258864.910966,260054.234309,261044.908554,261928.601577,262699.506941,263619.024608,264754.880432
47,3,48,Alaska,state,136177.665902,136332.334961,136486.923129,136668.218918,136941.145523,137145.174572,...,361039.923114,362594.714147,363707.604654,364601.031669,365166.349139,365349.007564,365433.115800,365988.556093,367221.433345,368473.303272
48,12,49,District of Columbia,state,161582.503349,162111.004776,162860.893805,164468.810187,166253.299818,168170.084510,...,610514.354186,610738.240744,611268.831115,610439.665764,607365.360638,604323.696478,601608.230187,601444.565771,601349.733091,600909.611676
49,58,50,Vermont,state,114017.007313,114207.925831,114507.756737,115096.906783,115775.371612,116408.861498,...,384797.951418,385967.297903,388478.113154,390700.085177,392110.647296,391769.436874,391351.181104,390548.180191,390142.078284,388745.249545
50,62,51,Wyoming,state,NaN,NaN,NaN,NaN,NaN,NaN,...,337972.839727,339185.464116,340776.565800,342115.770820,342860.031844,343370.401509,344757.832431,347033.423656,349781.067684,352013.031923

Handling Nans before loading to data base

In [10]:
# Get locations of null values
null_positions = np.where(df.isnull())

# Convert to list of row-column pairs
null_locations = list(zip(null_positions[0], null_positions[1]))
null_locations

[(13, 58),
 (35, 4),
 (35, 5),
 (35, 6),
 (35, 7),
 (35, 8),
 (35, 9),
 (35, 10),
 (35, 11),
 (35, 12),
 (35, 13),
 (35, 14),
 (35, 15),
 (35, 16),
 (35, 17),
 (35, 18),
 (35, 19),
 (35, 20),
 (35, 21),
 (35, 22),
 (35, 23),
 (35, 24),
 (35, 25),
 (35, 26),
 (35, 27),
 (35, 28),
 (35, 29),
 (35, 30),
 (37, 73),
 (38, 109),
 (43, 4),
 (43, 5),
 (43, 6),
 (43, 7),
 (43, 8),
 (43, 9),
 (43, 10),
 (43, 11),
 (43, 12),
 (43, 13),
 (43, 14),
 (43, 15),
 (43, 16),
 (43, 17),
 (43, 18),
 (43, 19),
 (43, 20),
 (43, 21),
 (43, 22),
 (43, 23),
 (43, 24),
 (43, 25),
 (43, 26),
 (43, 27),
 (43, 28),
 (43, 29),
 (43, 30),
 (43, 31),
 (43, 32),
 (43, 33),
 (43, 34),
 (43, 35),
 (43, 36),
 (43, 37),
 (43, 38),
 (43, 39),
 (43, 40),
 (43, 41),
 (43, 42),
 (43, 43),
 (43, 44),
 (43, 45),
 (43, 46),
 (43, 47),
 (43, 48),
 (43, 49),
 (43, 50),
 (43, 51),
 (43, 52),
 (43, 53),
 (43, 54),
 (43, 55),
 (43, 56),
 (43, 57),
 (43, 58),
 (43, 59),
 (43, 60),
 (43, 61),
 (43, 62),
 (43, 63),
 (43, 64),
 (45, 152),
 (46, 4),
 (46, 5),
 (46, 6),
 (46, 7),
 (46, 8),
 (46, 9),
 (46, 10),
 (46, 11),
 (46, 12),
 (46, 13),
 (46, 14),
 (46, 15),
 (46, 16),
 (46, 17),
 (46, 18),
 (46, 19),
 (46, 20),
 (46, 21),
 (46, 22),
 (46, 23),
 (46, 24),
 (46, 25),
 (46, 26),
 (46, 27),
 (46, 28),
 (46, 29),
 (46, 30),
 (46, 31),
 (46, 32),
 (46, 33),
 (46, 34),
 (46, 35),
 (46, 36),
 (46, 37),
 (46, 38),
 (46, 39),
 (46, 40),
 (46, 41),
 (46, 42),
 (46, 43),
 (46, 44),
 (46, 45),
 (46, 46),
 (46, 47),
 (46, 48),
 (46, 49),
 (46, 50),
 (46, 51),
 (46, 52),
 (46, 53),
 (46, 54),
 (46, 55),
 (46, 56),
 (46, 57),
 (46, 58),
 (46, 59),
 (46, 60),
 (46, 61),
 (46, 62),
 (46, 63),
 (46, 64),
 (46, 65),
 (46, 66),
 (46, 67),
 (46, 68),
 (46, 69),
 (46, 70),
 (46, 71),
 (46, 72),
 (46, 73),
 (46, 74),
 (46, 75),
 (46, 76),
 (46, 77),
 (46, 78),
 (46, 79),
 (46, 80),
 (46, 81),
 (46, 82),
 (46, 83),
 (46, 84),
 (46, 85),
 (46, 86),
 (46, 87),
 (46, 88),
 (46, 89),
 (46, 90),
 (46, 91),
 (46, 92),
 (46, 93),
 (46, 94),
 (46, 95),
 (46, 96),
 (46, 97),
 (46, 98),
 (46, 99),
 (46, 100),
 (46, 101),
 (46, 102),
 (46, 103),
 (46, 104),
 (46, 105),
 (46, 106),
 (46, 107),
 (46, 108),
 (46, 109),
 (46, 110),
 (46, 111),
 (47, 234),
 (50, 4),
 (50, 5),
 (50, 6),
 (50, 7),
 (50, 8),
 (50, 9),
 (50, 10),
 (50, 11),
 (50, 12),
 (50, 13),
 (50, 14),
 (50, 15),
 (50, 16),
 (50, 17),
 (50, 18),
 (50, 19),
 (50, 20),
 (50, 21),
 (50, 22),
 (50, 23),
 (50, 24),
 (50, 25),
 (50, 26),
 (50, 27),
 (50, 28),
 (50, 29),
 (50, 30)]

**Analysis**: Dropping data from year 2000 - 2008 because North Dakota have missing data in the follow time span and replacing the scatter Nans with the mid-point between the last month and next month value

In [11]:
columns_to_drop = df.columns[4:112]
df.drop(columns=columns_to_drop, inplace=True)
df

,RegionID,SizeRank,RegionName,RegionType,2009-01-31,2009-02-28,2009-03-31,2009-04-30,2009-05-31,2009-06-30,...,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30
0,9,0,California,state,326673.384340,321703.665452,317587.520095,313719.739044,309971.731117,306696.226527,...,756581.465067,758066.607493,761934.960064,766432.343460,768909.375491,770909.700185,772682.310069,774983.546890,776577.716233,778354.932718
1,54,1,Texas,state,138548.786369,138288.595685,138181.832760,138165.359625,138165.174405,138141.143837,...,299498.200167,300367.479595,301220.479617,301550.419480,301319.803394,300761.659685,300348.385031,300090.532553,299833.867370,299466.823298
2,14,2,Florida,state,175528.589873,172187.430931,169046.402108,165918.877761,162893.244626,160015.092903,...,393557.439999,394416.095660,395091.990286,395215.732860,394434.657532,393384.745904,392375.047571,391524.226250,390581.313239,389387.085235
3,43,3,New York,state,270869.339294,269549.223365,268379.026794,267382.479458,266466.523338,265471.820415,...,456505.704164,459493.312355,463145.212383,466501.849754,469200.870364,471724.290510,474811.923330,477666.313210,480077.616977,481903.562884
4,47,4,Pennsylvania,state,161338.637404,160874.799190,160645.641159,160507.622728,160267.553796,159938.242223,...,256878.955033,258186.664552,259836.099840,261304.989294,262179.387799,262512.871697,262759.825236,263141.794227,263875.785085,264751.674429
5,21,5,Illinois,state,182824.674675,180637.728101,178505.645182,177157.496512,175559.691256,174284.654491,...,254350.347516,256221.318460,258636.605706,260398.263089,261509.207676,262145.854667,262952.201015,263720.908428,264583.245848,265510.101009
6,44,6,Ohio,state,121500.438579,120686.941170,119951.212743,119432.922143,119067.189276,118746.056067,...,218130.220436,219686.230984,221682.092955,223485.610938,224703.538017,225514.071385,226092.668360,226496.094487,226977.257664,227606.641522
7,16,7,Georgia,state,152346.615346,150708.620739,149235.637001,147669.989178,146036.556592,144471.816733,...,321784.647770,323077.500410,324688.400597,326004.468075,326598.654344,326819.452318,327004.643730,327062.859776,326857.936894,326280.449977
8,36,8,North Carolina,state,164599.554611,163996.840520,163519.699954,163030.565949,162388.485324,161662.075855,...,320590.137341,321917.991716,323674.176204,325307.948524,325973.279671,326119.092998,325920.341852,325808.582656,325825.649389,325799.916366
9,30,9,Michigan,state,115086.817592,113052.262642,111080.087829,109385.544487,107898.282601,106537.295921,...,232368.687265,234186.967332,236420.761088,238023.791399,238964.598953,239259.739715,239548.203921,239795.077855,240379.301971,241007.127504
10,40,10,New Jersey,state,322367.714315,320577.708357,318850.133562,316636.375059,314275.263393,311891.615198,...,507451.518349,512383.660255,517993.140998,522318.787841,525289.739354,527880.104605,530988.639738,534376.928782,537381.923048,539756.983418
11,56,11,Virginia,state,229666.213815,228079.370842,226524.628575,225136.702237,223956.105680,222874.479858,...,377099.279122,379159.455369,381951.270843,384461.357614,385967.169254,386873.775694,387791.794062,388907.724217,390313.843067,391540.544177
12,59,12,Washington,state,286082.932938,283411.834488,280614.114252,276982.555702,273560.212782,270543.366361,...,571565.714612,574176.423462,577645.992075,580774.663781,582103.987055,582647.696315,583153.085452,584755.117865,586924.806382,589272.326122
13,8,13,Arizona,state,189038.848659,185554.198160,182429.881109,179270.227938,175719.693022,172703.568364,...,425989.073725,427272.413901,428843.199208,430088.976681,430346.093621,429977.839996,429178.790779,428480.016194,427911.969631,427379.278595
14,26,14,Massachusetts,state,310187.212353,308169.283464,306106.594511,304309.165706,303091.573132,302307.328612,...,599659.181075,603234.120979,608189.171808,612631.313107,615333.605505,617234.276255,619325.847227,621607.245594,623523.275803,625065.344097
15,53,15,Tennessee,state,141319.987924,140935.567471,140564.725896,140069.808745,139420.575316,138744.807729,...,309624.284885,310925.957832,312855.715451,314743.396495,315713.316493,316088.434803,315866.203047,315544.972144,315395.191462,315299.638102
16,22,16,Indiana,state,115417.666705,115111.304630,114936.466445,114792.975062,114669.584552,114558.269534,...,230432.848740,232166.575514,233975.812383,235466.824396,236310.352668,236721.534448,237093.106685,237538.776807,238162.399717,238933.696154
17,27,17,Maryland,state,290065.110405,286738.709843,283292.441565,279790.586754,276507.598992,274010.992614,...,407724.019215,410037.082353,413002.294955,415251.335652,415905.262288,415658.181599,415456.543305,416156.196364,417546.309400,419041.727609
18,32,18,Missouri,state,132822.076131,132399.120224,132078.380692,131762.538295,131361.485023,130816.697478,...,237660.323906,238780.714929,240134.843388,241084.946838,241685.321053,242152.831252,242753.707018,243339.118459,243918.904301,244676.165007
19,60,19,Wisconsin,state,166783.822102,165743.483755,164870.309774,164646.808662,164245.408474,163807.350304,...,290081.682603,292437.154621,295607.684868,297873.033672,299418.332482,300284.463910,301207.666406,301876.847193,302801.374594,303957.332461
20,10,20,Colorado,state,224097.536884,223634.873492,223321.270942,223082.280394,222784.416341,222442.242723,...,536920.957680,537645.525871,538956.110712,539736.654622,539547.189158,539249.407216,539395.421342,540315.616301,541187.836794,542085.498985
21,31,21,Minnesota,state,182814.511446,181345.071415,179648.483373,178079.766437,176836.854668,176024.018276,...,324253.501052,325407.778491,326835.449542,327622.359153,327452.174289,327105.425025,327281.714936,327909.023290,329073.636361,330239.965675
22,51,22,South Carolina,state,154519.179087,153610.995032,152862.179588,152158.125641,151352.342139,150364.177073,...,289367.146042,290497.048360,291950.210856,293137.288890,293734.568478,293999.383491,294108.989777,294062.951445,293947.249267,293664.294241
23,4,23,Alabama,state,131439.338440,130954.267437,130480.499802,129884.061758,129296.292935,128681.433059,...,221145.152002,221872.855085,223207.674202,224464.966647,224994.767760,225068.316810,224930.202431,224809.150354,224947.801440,225129.678811
24,25,24,Louisiana,state,154972.216896,154878.713805,154851.463256,155013.165733,155084.871240,155140.944655,...,199191.232982,199490.511876,200404.831081,200955.555886,200866.540780,200338.546226,199500.677395,198607.818562,197991.035598,198053.456705
25,24,25,Kentucky,state,107587.571072,107557.273621,107508.893524,107420.763655,107259.352754,107085.127132,...,198332.591377,199167.071187,200904.044755,202469.866413,203601.705521,204072.013651,204393.722040,204327.322042,204601.212692,205305.804874
26,46,26,Oregon,state,247478.833776,245211.935716,242943.418526,240363.445920,237924.015151,235464.840341,...,486357.532609,487288.437736,488371.416258,489282.009796,489371.400009,489452.025056,489609.602116,490383.550027,491432.831712,492822.052898
27,45,27,Oklahoma,state,108456.118252,108215.260215,108038.844440,107906.243579,107951.762741,108075.378859,...,198873.787658,199559.738800,200568.992077,201370.807650,201854.954121,202074.460245,202455.839486,202727.305304,203148.489831,203633.104863
28,11,28,Connecticut,state,273231.359548,272072.976584,270697.323811,269373.296715,267358.248784,265313.368242,...,387546.659307,390834.048033,394488.624882,397570.053010,399457.993917,400957.826690,402471.958723,404214.179669,405706.292214,406714.947859
29,55,30,Utah,state,227821.311770,225555.980577,223277.076974,221490.140812,219651.752063,217842.509083,...,510832.909836,512153.729449,513701.987980,514564.763028,514225.443500,513333.747726,512763.649227,513426.342661,515230.986810,517823.256996
30,19,31,Iowa,state,118967.749480,118762.521216,118582.667039,118477.348896,118415.197093,118315.222952,...,208535.224017,209711.415731,211353.476300,212885.822121,213747.415027,214006.798800,214113.545930,214202.751914,214612.461751,215335.525127
31,42,32,Nevada,state,200951.436772,195837.505694,190824.061751,185848.409076,180065.929992,174023.949587,...,424177.640987,426145.387385,428715.739589,431237.849183,433316.606289,435045.102499,436560.754212,438015.440174,439353.889083,440723.851132
32,6,33,Arkansas,state,121567.483194,121118.301991,120641.533345,120162.049330,119777.181095,119499.683361,...,202484.652287,203496.328672,205027.911179,206330.713055,207165.772782,207595.671779,207983.463772,208064.215004,208166.096981,208238.180941
33,34,34,Mississippi,state,115923.578027,115618.041536,115362.283819,115188.692046,114984.446096,114706.521660,...,174104.770706,175110.732273,176489.046447,177542.257282,177790.953915,177406.622124,176861.177385,176405.438036,176645.668257,177461.492070
34,23,35,Kansas,state,117081.726567,116855.131793,116761.820003,116921.867530,117115.965705,117335.828169,...,215756.925820,217217.146582,219071.788552,220758.419592,222054.248415,223154.229211,224302.628325,225273.917284,226243.437579,227188.132500
35,41,36,New Mexico,state,181563.673066,180912.891268,179742.725095,178656.085718,177630.057752,177469.694000,...,293553.553890,295085.512204,296872.233557,298328.607043,298780.581032,298911.830150,299217.685168,299963.206584,300845.601411,301651.281634
36,38,37,Nebraska,state,125263.150131,124964.313946,125142.607870,125407.889952,125790.675516,125971.691301,...,251378.948316,252760.950982,254152.956553,255192.455615,255580.224196,255770.934610,256001.016312,256484.471003,257200.855468,258011.203000
37,20,38,Idaho,state,185783.729890,183650.305416,181451.874191,179223.591862,177102.427067,175235.670152,...,441856.139769,443556.015572,445585.908785,446873.093721,447191.979792,447409.188365,448049.134732,449080.847737,450089.689302,451002.991990
38,61,39,West Virginia,state,102586.914768,102741.206700,102921.035272,102837.894576,102644.001139,102417.628061,...,157606.318071,158858.014056,160504.346449,162063.708963,163175.869702,164109.739213,164680.501090,164987.920682,165368.121489,165830.013997
39,18,40,Hawaii,state,443496.341909,440023.107826,436695.204780,433126.571805,429422.748164,424926.822870,...,827511.277706,830153.223320,835271.289208,839997.482313,840966.034384,840089.023371,839856.901773,841409.259548,842684.646948,842181.441392
40,39,41,New Hampshire,state,224708.506199,223682.808042,222795.578623,221247.726861,219599.162291,218249.084257,...,454256.912492,457544.004135,461921.843255,465624.795654,467919.896177,469330.247001,471262.210160,473566.526853,476073.060753,477812.589241
41,28,42,Maine,state,189075.792238,188023.842520,186942.331316,185989.491513,184284.197354,182731.299991,...,384383.184408,386457.863809,389269.362236,391465.631666,392242.632254,392414.518193,392911.519785,393884.425184,395025.697955,395519.684807
42,50,43,Rhode Island,state,243187.889665,240043.871239,236979.780297,234616.590506,232549.149266,230880.955339,...,441522.753030,444169.175152,448072.779108,452225.296449,455278.099127,458019.523326,460772.210859,463572.005494,466022.072369,467966.912053
43,35,44,Montana,state,191636.103588,191260.429502,190914.199357,190506.394171,190108.822838,189486.011949,...,440292.597631,442930.379873,445301.382378,446150.558331,446128.410760,445990.962084,446951.377450,448678.957679,450714.830573,452049.727687
44,13,45,Delaware,state,252712.371050,251365.105070,249905.682824,248513.115785,246866.905656,245376.705503,...,377081.239842,377751.606263,379346.855205,380756.433622,381022.748850,380615.495815,380716.039673,381345.642744,382659.669353,384079.297084
45,52,46,South Dakota,state,146269.964100,146312.164628,146234.164466,145909.054201,145546.597978,145170.259846,...,294382.040963,296405.519965,298360.041004,299512.792037,299799.733988,299744.608480,299981.323995,300751.524631,301863.195490,302776.255308
46,37,47,North Dakota,state,161990.604660,162000.497329,161957.513211,161744.026776,161393.114720,160986.923743,...,254104.620630,255514.227508,257364.440276,258864.910966,260054.234309,261044.908554,261928.601577,262699.506941,263619.024608,264754.880432
47,3,48,Alaska,state,249273.630998,249452.601761,249791.132327,250008.045633,249670.188013,249238.363754,...,361039.923114,362594.714147,363707.604654,364601.031669,365166.349139,365349.007564,365433.115800,365988.556093,367221.433345,368473.303272
48,12,49,District of Columbia,state,372500.751715,372607.688267,372490.951143,370601.635447,367725.299139,365588.952667,...,610514.354186,610738.240744,611268.831115,610439.665764,607365.360638,604323.696478,601608.230187,601444.565771,601349.733091,600909.611676
49,58,50,Vermont,state,214295.462660,214200.459486,214060.798389,213795.814838,213589.158148,213251.767062,...,384797.951418,385967.297903,388478.113154,390700.085177,392110.647296,391769.436874,391351.181104,390548.180191,390142.078284,388745.249545
50,62,51,Wyoming,state,203760.280990,203651.891225,203261.859799,202661.883883,202231.924777,201955.823984,...,337972.839727,339185.464116,340776.565800,342115.770820,342860.031844,343370.401509,344757.832431,347033.423656,349781.067684,352013.031923

In [12]:
# Identify scattered Nans

# Get locations of null values
null_positions = np.where(df.isnull())

# Convert to list of row-column pairs
null_locations = list(zip(null_positions[0], null_positions[1]))
print(len(null_locations))
null_locations

2

[(45, 44), (47, 126)]

In [13]:
# Replacing Nans with the mid-point of last and next month
for nan_loc in null_locations:
    last_month = df.iloc[nan_loc[0], nan_loc[1] - 1]
    next_month = df.iloc[nan_loc[0], nan_loc[1] + 1]
    df.iloc[nan_loc[0], nan_loc[1]] = (last_month + next_month) / 2
    print(df.iloc[nan_loc[0], nan_loc[1]])

146659.08178092653
298478.79625795095

In [14]:
# Final check for nans

# Get locations of null values
null_positions = np.where(df.isnull())

# Convert to list of row-column pairs
null_locations = list(zip(null_positions[0], null_positions[1]))
print(len(null_locations))
df

0

,RegionID,SizeRank,RegionName,RegionType,2009-01-31,2009-02-28,2009-03-31,2009-04-30,2009-05-31,2009-06-30,...,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30
0,9,0,California,state,326673.384340,321703.665452,317587.520095,313719.739044,309971.731117,306696.226527,...,756581.465067,758066.607493,761934.960064,766432.343460,768909.375491,770909.700185,772682.310069,774983.546890,776577.716233,778354.932718
1,54,1,Texas,state,138548.786369,138288.595685,138181.832760,138165.359625,138165.174405,138141.143837,...,299498.200167,300367.479595,301220.479617,301550.419480,301319.803394,300761.659685,300348.385031,300090.532553,299833.867370,299466.823298
2,14,2,Florida,state,175528.589873,172187.430931,169046.402108,165918.877761,162893.244626,160015.092903,...,393557.439999,394416.095660,395091.990286,395215.732860,394434.657532,393384.745904,392375.047571,391524.226250,390581.313239,389387.085235
3,43,3,New York,state,270869.339294,269549.223365,268379.026794,267382.479458,266466.523338,265471.820415,...,456505.704164,459493.312355,463145.212383,466501.849754,469200.870364,471724.290510,474811.923330,477666.313210,480077.616977,481903.562884
4,47,4,Pennsylvania,state,161338.637404,160874.799190,160645.641159,160507.622728,160267.553796,159938.242223,...,256878.955033,258186.664552,259836.099840,261304.989294,262179.387799,262512.871697,262759.825236,263141.794227,263875.785085,264751.674429
5,21,5,Illinois,state,182824.674675,180637.728101,178505.645182,177157.496512,175559.691256,174284.654491,...,254350.347516,256221.318460,258636.605706,260398.263089,261509.207676,262145.854667,262952.201015,263720.908428,264583.245848,265510.101009
6,44,6,Ohio,state,121500.438579,120686.941170,119951.212743,119432.922143,119067.189276,118746.056067,...,218130.220436,219686.230984,221682.092955,223485.610938,224703.538017,225514.071385,226092.668360,226496.094487,226977.257664,227606.641522
7,16,7,Georgia,state,152346.615346,150708.620739,149235.637001,147669.989178,146036.556592,144471.816733,...,321784.647770,323077.500410,324688.400597,326004.468075,326598.654344,326819.452318,327004.643730,327062.859776,326857.936894,326280.449977
8,36,8,North Carolina,state,164599.554611,163996.840520,163519.699954,163030.565949,162388.485324,161662.075855,...,320590.137341,321917.991716,323674.176204,325307.948524,325973.279671,326119.092998,325920.341852,325808.582656,325825.649389,325799.916366
9,30,9,Michigan,state,115086.817592,113052.262642,111080.087829,109385.544487,107898.282601,106537.295921,...,232368.687265,234186.967332,236420.761088,238023.791399,238964.598953,239259.739715,239548.203921,239795.077855,240379.301971,241007.127504
10,40,10,New Jersey,state,322367.714315,320577.708357,318850.133562,316636.375059,314275.263393,311891.615198,...,507451.518349,512383.660255,517993.140998,522318.787841,525289.739354,527880.104605,530988.639738,534376.928782,537381.923048,539756.983418
11,56,11,Virginia,state,229666.213815,228079.370842,226524.628575,225136.702237,223956.105680,222874.479858,...,377099.279122,379159.455369,381951.270843,384461.357614,385967.169254,386873.775694,387791.794062,388907.724217,390313.843067,391540.544177
12,59,12,Washington,state,286082.932938,283411.834488,280614.114252,276982.555702,273560.212782,270543.366361,...,571565.714612,574176.423462,577645.992075,580774.663781,582103.987055,582647.696315,583153.085452,584755.117865,586924.806382,589272.326122
13,8,13,Arizona,state,189038.848659,185554.198160,182429.881109,179270.227938,175719.693022,172703.568364,...,425989.073725,427272.413901,428843.199208,430088.976681,430346.093621,429977.839996,429178.790779,428480.016194,427911.969631,427379.278595
14,26,14,Massachusetts,state,310187.212353,308169.283464,306106.594511,304309.165706,303091.573132,302307.328612,...,599659.181075,603234.120979,608189.171808,612631.313107,615333.605505,617234.276255,619325.847227,621607.245594,623523.275803,625065.344097
15,53,15,Tennessee,state,141319.987924,140935.567471,140564.725896,140069.808745,139420.575316,138744.807729,...,309624.284885,310925.957832,312855.715451,314743.396495,315713.316493,316088.434803,315866.203047,315544.972144,315395.191462,315299.638102
16,22,16,Indiana,state,115417.666705,115111.304630,114936.466445,114792.975062,114669.584552,114558.269534,...,230432.848740,232166.575514,233975.812383,235466.824396,236310.352668,236721.534448,237093.106685,237538.776807,238162.399717,238933.696154
17,27,17,Maryland,state,290065.110405,286738.709843,283292.441565,279790.586754,276507.598992,274010.992614,...,407724.019215,410037.082353,413002.294955,415251.335652,415905.262288,415658.181599,415456.543305,416156.196364,417546.309400,419041.727609
18,32,18,Missouri,state,132822.076131,132399.120224,132078.380692,131762.538295,131361.485023,130816.697478,...,237660.323906,238780.714929,240134.843388,241084.946838,241685.321053,242152.831252,242753.707018,243339.118459,243918.904301,244676.165007
19,60,19,Wisconsin,state,166783.822102,165743.483755,164870.309774,164646.808662,164245.408474,163807.350304,...,290081.682603,292437.154621,295607.684868,297873.033672,299418.332482,300284.463910,301207.666406,301876.847193,302801.374594,303957.332461
20,10,20,Colorado,state,224097.536884,223634.873492,223321.270942,223082.280394,222784.416341,222442.242723,...,536920.957680,537645.525871,538956.110712,539736.654622,539547.189158,539249.407216,539395.421342,540315.616301,541187.836794,542085.498985
21,31,21,Minnesota,state,182814.511446,181345.071415,179648.483373,178079.766437,176836.854668,176024.018276,...,324253.501052,325407.778491,326835.449542,327622.359153,327452.174289,327105.425025,327281.714936,327909.023290,329073.636361,330239.965675
22,51,22,South Carolina,state,154519.179087,153610.995032,152862.179588,152158.125641,151352.342139,150364.177073,...,289367.146042,290497.048360,291950.210856,293137.288890,293734.568478,293999.383491,294108.989777,294062.951445,293947.249267,293664.294241
23,4,23,Alabama,state,131439.338440,130954.267437,130480.499802,129884.061758,129296.292935,128681.433059,...,221145.152002,221872.855085,223207.674202,224464.966647,224994.767760,225068.316810,224930.202431,224809.150354,224947.801440,225129.678811
24,25,24,Louisiana,state,154972.216896,154878.713805,154851.463256,155013.165733,155084.871240,155140.944655,...,199191.232982,199490.511876,200404.831081,200955.555886,200866.540780,200338.546226,199500.677395,198607.818562,197991.035598,198053.456705
25,24,25,Kentucky,state,107587.571072,107557.273621,107508.893524,107420.763655,107259.352754,107085.127132,...,198332.591377,199167.071187,200904.044755,202469.866413,203601.705521,204072.013651,204393.722040,204327.322042,204601.212692,205305.804874
26,46,26,Oregon,state,247478.833776,245211.935716,242943.418526,240363.445920,237924.015151,235464.840341,...,486357.532609,487288.437736,488371.416258,489282.009796,489371.400009,489452.025056,489609.602116,490383.550027,491432.831712,492822.052898
27,45,27,Oklahoma,state,108456.118252,108215.260215,108038.844440,107906.243579,107951.762741,108075.378859,...,198873.787658,199559.738800,200568.992077,201370.807650,201854.954121,202074.460245,202455.839486,202727.305304,203148.489831,203633.104863
28,11,28,Connecticut,state,273231.359548,272072.976584,270697.323811,269373.296715,267358.248784,265313.368242,...,387546.659307,390834.048033,394488.624882,397570.053010,399457.993917,400957.826690,402471.958723,404214.179669,405706.292214,406714.947859
29,55,30,Utah,state,227821.311770,225555.980577,223277.076974,221490.140812,219651.752063,217842.509083,...,510832.909836,512153.729449,513701.987980,514564.763028,514225.443500,513333.747726,512763.649227,513426.342661,515230.986810,517823.256996
30,19,31,Iowa,state,118967.749480,118762.521216,118582.667039,118477.348896,118415.197093,118315.222952,...,208535.224017,209711.415731,211353.476300,212885.822121,213747.415027,214006.798800,214113.545930,214202.751914,214612.461751,215335.525127
31,42,32,Nevada,state,200951.436772,195837.505694,190824.061751,185848.409076,180065.929992,174023.949587,...,424177.640987,426145.387385,428715.739589,431237.849183,433316.606289,435045.102499,436560.754212,438015.440174,439353.889083,440723.851132
32,6,33,Arkansas,state,121567.483194,121118.301991,120641.533345,120162.049330,119777.181095,119499.683361,...,202484.652287,203496.328672,205027.911179,206330.713055,207165.772782,207595.671779,207983.463772,208064.215004,208166.096981,208238.180941
33,34,34,Mississippi,state,115923.578027,115618.041536,115362.283819,115188.692046,114984.446096,114706.521660,...,174104.770706,175110.732273,176489.046447,177542.257282,177790.953915,177406.622124,176861.177385,176405.438036,176645.668257,177461.492070
34,23,35,Kansas,state,117081.726567,116855.131793,116761.820003,116921.867530,117115.965705,117335.828169,...,215756.925820,217217.146582,219071.788552,220758.419592,222054.248415,223154.229211,224302.628325,225273.917284,226243.437579,227188.132500
35,41,36,New Mexico,state,181563.673066,180912.891268,179742.725095,178656.085718,177630.057752,177469.694000,...,293553.553890,295085.512204,296872.233557,298328.607043,298780.581032,298911.830150,299217.685168,299963.206584,300845.601411,301651.281634
36,38,37,Nebraska,state,125263.150131,124964.313946,125142.607870,125407.889952,125790.675516,125971.691301,...,251378.948316,252760.950982,254152.956553,255192.455615,255580.224196,255770.934610,256001.016312,256484.471003,257200.855468,258011.203000
37,20,38,Idaho,state,185783.729890,183650.305416,181451.874191,179223.591862,177102.427067,175235.670152,...,441856.139769,443556.015572,445585.908785,446873.093721,447191.979792,447409.188365,448049.134732,449080.847737,450089.689302,451002.991990
38,61,39,West Virginia,state,102586.914768,102741.206700,102921.035272,102837.894576,102644.001139,102417.628061,...,157606.318071,158858.014056,160504.346449,162063.708963,163175.869702,164109.739213,164680.501090,164987.920682,165368.121489,165830.013997
39,18,40,Hawaii,state,443496.341909,440023.107826,436695.204780,433126.571805,429422.748164,424926.822870,...,827511.277706,830153.223320,835271.289208,839997.482313,840966.034384,840089.023371,839856.901773,841409.259548,842684.646948,842181.441392
40,39,41,New Hampshire,state,224708.506199,223682.808042,222795.578623,221247.726861,219599.162291,218249.084257,...,454256.912492,457544.004135,461921.843255,465624.795654,467919.896177,469330.247001,471262.210160,473566.526853,476073.060753,477812.589241
41,28,42,Maine,state,189075.792238,188023.842520,186942.331316,185989.491513,184284.197354,182731.299991,...,384383.184408,386457.863809,389269.362236,391465.631666,392242.632254,392414.518193,392911.519785,393884.425184,395025.697955,395519.684807
42,50,43,Rhode Island,state,243187.889665,240043.871239,236979.780297,234616.590506,232549.149266,230880.955339,...,441522.753030,444169.175152,448072.779108,452225.296449,455278.099127,458019.523326,460772.210859,463572.005494,466022.072369,467966.912053
43,35,44,Montana,state,191636.103588,191260.429502,190914.199357,190506.394171,190108.822838,189486.011949,...,440292.597631,442930.379873,445301.382378,446150.558331,446128.410760,445990.962084,446951.377450,448678.957679,450714.830573,452049.727687
44,13,45,Delaware,state,252712.371050,251365.105070,249905.682824,248513.115785,246866.905656,245376.705503,...,377081.239842,377751.606263,379346.855205,380756.433622,381022.748850,380615.495815,380716.039673,381345.642744,382659.669353,384079.297084
45,52,46,South Dakota,state,146269.964100,146312.164628,146234.164466,145909.054201,145546.597978,145170.259846,...,294382.040963,296405.519965,298360.041004,299512.792037,299799.733988,299744.608480,299981.323995,300751.524631,301863.195490,302776.255308
46,37,47,North Dakota,state,161990.604660,162000.497329,161957.513211,161744.026776,161393.114720,160986.923743,...,254104.620630,255514.227508,257364.440276,258864.910966,260054.234309,261044.908554,261928.601577,262699.506941,263619.024608,264754.880432
47,3,48,Alaska,state,249273.630998,249452.601761,249791.132327,250008.045633,249670.188013,249238.363754,...,361039.923114,362594.714147,363707.604654,364601.031669,365166.349139,365349.007564,365433.115800,365988.556093,367221.433345,368473.303272
48,12,49,District of Columbia,state,372500.751715,372607.688267,372490.951143,370601.635447,367725.299139,365588.952667,...,610514.354186,610738.240744,611268.831115,610439.665764,607365.360638,604323.696478,601608.230187,601444.565771,601349.733091,600909.611676
49,58,50,Vermont,state,214295.462660,214200.459486,214060.798389,213795.814838,213589.158148,213251.767062,...,384797.951418,385967.297903,388478.113154,390700.085177,392110.647296,391769.436874,391351.181104,390548.180191,390142.078284,388745.249545
50,62,51,Wyoming,state,203760.280990,203651.891225,203261.859799,202661.883883,202231.924777,201955.823984,...,337972.839727,339185.464116,340776.565800,342115.770820,342860.031844,343370.401509,344757.832431,347033.423656,349781.067684,352013.031923

In [15]:
# Reformating data frame
data = []
dates = sorted(list(set(df.columns) - {"RegionID", "SizeRank", "RegionName", "RegionType", "StateName"}))

for index, row in df.iterrows():
    for col_date in dates:
        year, month, day = col_date.split("-")
        info = {"state": row["RegionName"], 
                "year": int(year),
                "value": df.loc[index, col_date]}
        data.append(info)
normalized_df = pd.DataFrame(data)
normalized_df

           state  year          value
0     California  2009  326673.384340
1     California  2009  321703.665452
2     California  2009  317587.520095
3     California  2009  313719.739044
4     California  2009  309971.731117
...          ...   ...            ...
9736     Wyoming  2024  343370.401509
9737     Wyoming  2024  344757.832431
9738     Wyoming  2024  347033.423656
9739     Wyoming  2024  349781.067684
9740     Wyoming  2024  352013.031923

[9741 rows x 3 columns]

In [16]:
# Group data frame to only have one year 
grouped_df = normalized_df.groupby(["state", "year"])["value"].mean().reset_index()
for index, row in grouped_df.iterrows():
    cur.execute("INSERT INTO house_sale (year, state, typical_home_value) VALUES (?, ?, ?)", (row["year"], row["state"], row["value"]))
conn.commit()
grouped_df

       state  year          value
0    Alabama  2009  128447.614467
1    Alabama  2010  123302.552877
2    Alabama  2011  117603.501168
3    Alabama  2012  119353.419808
4    Alabama  2013  126528.258275
..       ...   ...            ...
811  Wyoming  2020  263432.215999
812  Wyoming  2021  289975.703000
813  Wyoming  2022  321046.654803
814  Wyoming  2023  332973.677888
815  Wyoming  2024  343417.008623

[816 rows x 3 columns]

In [17]:
%%sql
SELECT * FROM house_sale ORDER BY year

     year          state  typical_home_value
0    2009        Alabama       128447.614467
1    2009         Alaska       248788.519082
2    2009        Arizona       173044.572368
3    2009       Arkansas       119439.742325
4    2009     California       308873.463094
..    ...            ...                 ...
811  2024       Virginia       384555.898690
812  2024     Washington       580319.010980
813  2024  West Virginia       162207.137012
814  2024      Wisconsin       297702.544983
815  2024        Wyoming       343417.008623

[816 rows x 3 columns]

**Data Source**: [Federal Reserve Bank of St. Louis. (n.d.)](https://fred.stlouisfed.org/series/MORTGAGE30US)

In [18]:
df = pd.read_csv("..\\data\\mortgages\\MORTGAGE30US.csv")
df.columns = ["date", "rate"]

df["year"] = pd.to_datetime(df["date"]).dt.year
df["rate"] = df["rate"] / 100
df = df.groupby("year")["rate"].mean().reset_index()

for index, row in df.iterrows():
    cur.execute("INSERT INTO us_mortgage_rate (year, avg_rate) VALUES (?, ?)", (row["year"], row["rate"]))
conn.commit()
df

    year      rate
0   1971  0.075417
1   1972  0.073833
2   1973  0.080448
3   1974  0.091871
4   1975  0.090471
5   1976  0.088658
6   1977  0.088452
7   1978  0.096417
8   1979  0.112037
9   1980  0.137421
10  1981  0.166415
11  1982  0.160437
12  1983  0.132354
13  1984  0.138777
14  1985  0.124302
15  1986  0.101873
16  1987  0.102134
17  1988  0.103417
18  1989  0.103194
19  1990  0.101294
20  1991  0.092465
21  1992  0.083902
22  1993  0.073146
23  1994  0.083808
24  1995  0.079346
25  1996  0.078062
26  1997  0.075988
27  1998  0.069426
28  1999  0.074400
29  2000  0.080535
30  2001  0.069679
31  2002  0.065373
32  2003  0.058270
33  2004  0.058392
34  2005  0.058667
35  2006  0.064133
36  2007  0.063373
37  2008  0.060272
38  2009  0.050365
39  2010  0.046898
40  2011  0.044479
41  2012  0.036575
42  2013  0.039756
43  2014  0.041689
44  2015  0.038506
45  2016  0.036540
46  2017  0.039898
47  2018  0.045446
48  2019  0.039358
49  2020  0.031117
50  2021  0.029577
51  2022  0.053440
52  2023  0.068067
53  2024  0.067212

In [19]:
%%sql
SELECT * FROM us_mortgage_rate

    year  avg_rate
0   1971  0.075417
1   1972  0.073833
2   1973  0.080448
3   1974  0.091871
4   1975  0.090471
5   1976  0.088658
6   1977  0.088452
7   1978  0.096417
8   1979  0.112037
9   1980  0.137421
10  1981  0.166415
11  1982  0.160437
12  1983  0.132354
13  1984  0.138777
14  1985  0.124302
15  1986  0.101873
16  1987  0.102134
17  1988  0.103417
18  1989  0.103194
19  1990  0.101294
20  1991  0.092465
21  1992  0.083902
22  1993  0.073146
23  1994  0.083808
24  1995  0.079346
25  1996  0.078062
26  1997  0.075988
27  1998  0.069426
28  1999  0.074400
29  2000  0.080535
30  2001  0.069679
31  2002  0.065373
32  2003  0.058270
33  2004  0.058392
34  2005  0.058667
35  2006  0.064133
36  2007  0.063373
37  2008  0.060272
38  2009  0.050365
39  2010  0.046898
40  2011  0.044479
41  2012  0.036575
42  2013  0.039756
43  2014  0.041689
44  2015  0.038506
45  2016  0.036540
46  2017  0.039898
47  2018  0.045446
48  2019  0.039358
49  2020  0.031117
50  2021  0.029577
51  2022  0.053440
52  2023  0.068067
53  2024  0.067212